title PP Board - Calculate Beatmap PP
link(rel="icon" href="icon.png")
style
    include table.css
    include nav.css
    include default.css

h1 Calculate Beatmap PP

h3
    ul(class='nav')
        li(class='nav')
            a(class='nav')= "Menu"
        li(class='nav')
            a(href='/',class='nav')= "Leaderboard"
        li(class='nav')
            a(href='/whitelist?page=1',class='nav')= "Whitelist"
        li(class='nav')
            a(href='/toppp',class='nav')= "Top PP"
        li(class="nav")
            a(href='/calculate', class="nav", class="active")= "Calculate Beatmap PP"
        li(class='nav')
            a(href='/about',class='nav')= "About / Donation"

hr

if err
    p= "Error: " + err + "."

    hr

if maptitle
    h3
        p #{maptitle}
        p #{objectstat}
        p #{mapstat}
        p #{playstat}
    br

    table(width="100%")
        tbody
            th(width="12.5%")= "Type"
            th(width="12.5%")= "Stars"
            th(width="12.5%")= "Aim Stars"
            th(width="12.5%")= "Speed Stars"
            th(width="12.5%")= "PP"
            th(width="12.5%")= "Aim PP"
            th(width="12.5%")= "Speed PP"
            th(width="12.5%")= "Accuracy PP"

            each val in ppentry
                tr
                    td= val.type
                    td= val.sr
                    td= val.aimsr
                    td= val.speedsr
                    td= val.pp
                    td= val.aimpp
                    td= val.speedpp
                    td= val.accpp

    br
    hr
    
br

div(class="queryshow")
    form#uploadForm(method="post", enctype='multipart/form-data')
        style.
            body {
            color: #000000;
            text-align: center;
            }
        span(style='font-size:x-large')
            | Beatmap File
        br
        |     Use this if you want to calculate a .osu file. Useful if the beatmap is not available in osu! beatmap listing.
        br
        |     Either this or beatmap link/ID must be provided. If both options are provided, this option is prioritized.
        br
        input(type='file' accept='.osu' name='BeatmapFile')
        br
        br
        span(style='font-size: x-large;')
            | Beatmap link or ID
        br
        |     Use this if you want to directly retrieve a beatmap from osu! beatmap listing.
        br
        |     Either this or beatmap file must be provided.
        br
        input(type='text' name='MapID')
        br
        br
        span(style='font-size: x-large;')
            | Mods
        br
        |     Optional, defaults to none.
        br
        input(type='text' name='Mod')
        br
        br
        span(style='font-size: x-large')
            | Accuracy
        br
        |     Optional, range from 1-100. Defaults to 100.
        br
        input(type='text' name='Accuracy')
        br
        br
        span(style='font-size: x-large')
            | Maximum Combo
        br
        |     Optional, range from 1 to beatmap maximum combo. Defaults to beatmap maximum combo.
        br
        input(type='text' name='Combo')
        br
        br
        span(style='font-size: x-large')
            | Miss Count
        br
        |     Optional, defaults to 0.
        br
        input(type='text' name='Miss')
        br
        br
        span(style='font-size: x-large')
            | Speed Multiplier
        br
        |     Optional, range from 0.5-2. Defaults to 1.
        br
        input(type='text' name='SpeedMul')
        br
        br
        span(style='font-size: x-large;')
            | Force AR
        br
        |     Optional, range from 0-12.5. If specified, sets the AR to the specified value ignoring any effect from mods.
        br
        input(type='text' name='ForceAR')
        br
        br
        input#fileupload(type='submit' value='Calculate' name='Submit')