title PP Board - Prototype
link(rel="icon" href="icon.png")
style
    include table.css
    include nav.css
    include default.css

h1 #{title}

h3
    ul(class='nav')
        li(class='nav')
            a(class='nav')= "Menu"
        li(class='nav')
            a(href='/', class='nav')= "Leaderboard"
        li(class='nav')
            a(href='/whitelist?page=1',class='nav')= "Whitelist"
        li(class='nav')
            a(href='/toppp',class='nav')= "Top PP"
        li(class="nav")
            a(href='/calculate', class="nav")= "Calculate Beatmap PP"
        li(class='nav')
            a(href='/prototype?page=1', class='nav', class='active')= "Prototype"
        li(class='nav')
            a(href='/about',class='nav')= "About / Donation"
    
    div(class="queryall")
        h5(class="queryshow")= "Current query: " + query
        form
            input(type="text", name="query", id='rcorners', hint="Search")
            input(type="submit", id='rcorners2', value="Search")
h3
    strong: b The PP values in this list are under development! 
    a(href="https://docs.google.com/document/d/1fg8NOZqewO2KpOSPItakcS5VuvdAUGiCg1X1jX6v4es/edit?usp=sharing") Documentation
hr

table(width="100%")
    tbody
        th(width="5%")= "No."
        th(width="10%")= "UID"
        th(width="73%")= "Username"
        th(width="12%")= "PP"
        each val, index in list
            .item
                tr
                    td= (page-1)*50+index+1
                    td= val.uid
                    td
                        a(href='/prototype/profile?uid='+val.uid)= val.username
                    td= val.pptotal

hr
    
div
    ul(class="pagerow")
        li(class="nav")
            a(href='/prototype?page=' + (page-1) + (query ? '?query='+query : ''), class="pagenav")= "<<< Prev Page"
        li(class="nav")
            a(class="pagecount")= " Page: " + page
        li(class="nav")
            a(href='/prototype?page=' + (page+1) + (query ? '?query='+query : ''), class="pagenav")= "Next Page >>>"
