title PP Board - Prototype Top PP
link(rel="icon" href="icon.png")
style
    include table.css
    include nav.css
    include default.css

h1 Top Prototype PP play


h3
    ul(class='nav')
        li(class='nav')
            a(class='nav')= "Menu"
        li(class='nav')
            a(href='/',class='nav')= "Leaderboard"
        li(class='nav')
            a(href='/whitelist?page=1',class='nav')= "Whitelist"
        li(class='nav')
            a(href='/toppp',class='nav')= "Top PP"
        li(class="nav")
            a(href='/calculate', class="nav")= "Calculate Beatmap PP"
        li(class='nav')
            a(href='/prototype?page=1', class='nav')= "Prototype"
        li(class='nav')
            a(href='/prototypetoppp', class='nav', class="active")= "Prototype Top PP"
        //- li(class="nav")
        //-     a(href='/prototypecalculate', class="nav")= "Calculate Beatmap Prototype PP"
        li(class='nav')
            a(href='/about',class='nav')= "About / Donation"

    div(class="queryall")
        h5(class="queryshow")= "Current mod filter: " + mods
        form
            input(type="text", name="mods", id="rcorners", hint="Mods")
            input(type="submit", id="rcorners2", value="Apply Filter")

h3
    strong: b The PP values in this list are under development! 
            | Current work: 2-hand rebalance
hr

table(width="100%")
    tbody
        th(width="3%")= "No."
        th(width="10%")= "Username"
        th(width="55%")= "Map Name (Difficulty) + Mod"
        th(width="7%")= "Live PP"
        th(width="7%")= "Local PP"
        th(width="6%")= "Diff"
        th(width="5%")= "Combo"
        th(width="5%")= "Accuracy"
        th(width="5%")= "Misses"
        each val, index in pplist
            tr
                td= index+1
                td= val.username
                td= val.map
                td= val.prevpp
                td= val.rawpp
                td= (val.rawpp - val.prevpp).toFixed(2)
                td= val.combo
                td= val.acc_percent
                td= val.miss_c

hr

p= "Top pp will be updated every 30 minutes. If you do not see any play, please reload the page after 5-10 minutes"
