head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Top Prototype PP Plays in the Elaina PP Project.')
    title PP Board - Top PP Plays
    link(rel='stylesheet' href='../../styles/main.css')
    link(rel='stylesheet' href='../../styles/play-list.css')
    link(rel='stylesheet' href='../../styles/input-search.css')
    link(rel='icon' href='../../icons/icon.png' type='image/x-icon')

body
    .top-banner
        h1 Elaina PP Project
        p A basic PP project for osu!droid.
    hr

    .main-menu
        a(href='/') Home
        a(href='/leaderboard') Leaderboard
        a(href='/whitelist') Whitelist
        a(href='/top-plays') Top Plays
        a(href='/calculate') Calculate Beatmap PP
        a(href='/prototype/leaderboard') Prototype Leaderboard
        a.menu-active(href='/prototype/top-plays') Prototype Top Plays
        a(href='/prototype/calculate') Calculate Beatmap Prototype PP
    hr

    h2.subtitle Prototype Top PP Plays

    h3.description
        | The PP values in this list are under development!
        br
        | Current work: 2-hand rebalance

    form
        input.search(type='text' name='mods' placeholder='Filter mods...' value=mods ? mods : "")
        input.submit-search(type='submit' value='Filter')

    ul
        each val, index in entries
            li= val.title
                |
                span(style='font: 11px Exo-Medium;')= " played by " + val.username

                p.play-info #{val.combo}x | #{val.accuracy}% | #{val.miss} ❌

                .mod-list
                    each mod in val.displayMods
                        img(src='../../icons/mods/' + mod.acronym + '.png', title=mod.name alt=mod.acronym)
                    else
                        img(src='../../icons/mods/NM.png', title="NoMod" alt="NM")

                p.pp-with-description #{val.prevPP}pp → #{val.pp}pp
                p.pp-description (#{(val.pp - val.prevPP) >= 0 ? '+' : ''}#{(val.pp - val.prevPP).toFixed(2)}pp)

    p Top prototype pp will be updated every 10 minutes. If you do not see any play, please reload the page after 1-2 minutes.
hr
footer
    p osu!droid Elaina PP Project Site
    p &copy; 2021 Rian8337
    a(href='https://discord.gg/nyD92cE')
        img(src='https://discord.com/api/guilds/316545691545501706/widget.png?style=shield')